body
{
	background: #faf9f9;
	color: #333;
	font-size: 11px;
	font-size: 10px;
}

html>body
{
	font-size:62.5%
}

a
{
	color: #333;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h1
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	font-size: 2.5em;
}

h2
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	font-size: 1.6em;
}

p
{
	font-size: 1.4em;
}

li
{
	font-size: 1.4em;
}

.left
{
	float: left;
	margin: 0 10px 10px 0;
}

.right
{
	float: right;
	margin: 0 0 10px 10px;
}
#header
{
	background-color: #162433;
	height: 140px;
}

#header .container_16
{
	height: 140px;
	background-image:url(/content/images/header_background.gif);
	background-repeat:no-repeat;
	position: relative;
}

#header .container_16 #logo
{
	position: absolute;
	top: 0;
	left: 0;
}

#header .container_16 #search
{
	position: absolute;
	top: 0;
	right: 0;
	background-image:url(/content/images/search_background.png);
	background-repeat:no-repeat;
	width:240px;
	height:38px;
}

#header .container_16 #search #search_field
{
	background: #fff url(/content/images/search_field.gif) top left no-repeat;
	padding: 2px 0 0 25px;
	margin-top: 6px;
	margin-left: 10px;
	border: 1px solid #333;
	width: 130px;
	height: 20px;
	vertical-align:middle;
	font-size: 1.3em;
}

#header .container_16 #search #search_submit
{
	background: #fff url(/content/images/search_button_background.gif) top left no-repeat;
	background-repeat: repeat-x;
	margin-top: 6px;
	border: 1px solid #333;
	height: 24px;
	vertical-align:middle;
	font-size: 1.3em;
	color: #000;
}

#header .container_16 ul#menu
{
	position: relative;
	margin: 0;
	top: 112px;
	left: 10px;
}
#header .container_16 ul#menu li
{
	display: inline;
	margin:0 15px 0 0;
	font-size: 15px;
	font-weight: bold;
}

#header .container_16 ul#menu li a
{
	color: #fff;
}


#content
{
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-collapse:collapse;
	background-color:#fff;
	width:958px;
}
#content .grid_12, #content .grid_4
{
	margin: 0 0 0 0;
}

#content .grid_4
{
    width: 240px;
	float: right;	
}

#content .blog_post
{
	padding:20px 0 20px 10px;
	background-image:url(/content/images/content_background_50.gif);
	background-repeat:no-repeat;
	background-position:top left;
	position: relative;
}

#content h1, #content h2, #content h3, #content h4
{
	margin:0;
}

#content .body
{
	font-size: 15px;
	font-family: Arial;
	padding-bottom: 0px;
	margin-bottom: 20px;
	width: 100%;
}

#content .body a
{
	color: #333;
	text-decoration: underline;
}

#content .body a:hover
{
	text-decoration: none;
}

#content .headerbox
{
	float: left;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 100%;	
}
#content #seperator
{
	background-image:url(/content/images/article_separator.gif);
	background-repeat:no-repeat;
	background-position:top left;
	position: relative;
	padding: 0px 0px 43px 700px;
	margin: 0px 0px 20px 0px;
	border: solid 1px white;
}
#content .last #seperator
{
	background-image: none;
	padding: 0px 0px 0px 700px;
	border: none opx black;
}
#content .subline
{
	font-size: 12px;
	float: left;
	color: #555;
}
#content .subline ul
{
    margin:0px;
    padding:0px;
    list-style-type:none;
    display:inline;    
}
#content .subline li
{
    margin:0px;
    padding:0px;
    display:inline;    
    outline:none;
}
#content .subline li a
{
    margin:0px;
    padding:0px;
	font-size: 12px;
    display:inline;    
    outline:none;
}
#content .subline a
{
	text-decoration: underline;
	color: #555;
}
#content .subline a:hover
{
	color: #333;
}
#content .subline-date
{
	float: right;
	font-size: 1.4em;
	color: #666;
}
#headerimage
{
	padding: 0px 0px 60px 45px;
	border: none opx black;
	
}

#content .comment
{
	margin: 10px 10px 10px 10px;
}

#content .comment-field
{
	float: left;
	margin-bottom:20px;
	background-color: #ebedee;
	padding: 10px;
}
#content .comment-submit
{
	float: left;
	margin-bottom:20px;
	background-color: #ebedee;
	width: 680px;
}
#content .comment-submit form
{
	padding: 20px;
}

#content .comment-submit h2
{
	font-size: 2.2em;
	color: #333333;
	margin-bottom: 20px;
}

#content .comment-submit form label
{
	display: block;
	font-size: 1.4em;
	color: #333333;
}
#content .comment-submit input
{
	width: 600px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	font-size: 1.4em;
	padding: 4px 2px 4px 2px;
}
#content .comment-submit input[type="submit"]
{
	width: 80px;
}
#content .comment-submit input[type="checkbox"]
{
	width: 10px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	font-size: 1.4em;
	padding: 4px 2px 4px 2px;
}
#content .comment-submit textarea
{
	width: 600px;
	font-size: 1.4em;
	padding: 2px;
	margin-bottom: 20px;
	border: 1px solid #333333;
	height: 250px;
}


#content .comment-field .avatar
{
	float: left;
	width: 80px;
	
	margin-right: 20px;
	padding: 20px 10px 10px 20px;
}
#content .comment-field .avatar img
{
	border: 1px solid #222;
}
#content .comment-field .comment-body
{
	float: left;
	width: 510px;
	padding: 20px;	
}



.sidepanel
{
	margin-top: 20px;
	padding:0;
}

.sidepanel .sidepanel_header
{
	background: url(/content/images/sidepanel_header_bg.gif) no-repeat top left; 
	padding: 4px 10px 2px 10px;
}

.sidepanel .sidepanel_header h2
{
	color: #ffffff;
	padding: 0;
	margin:0;
	height: 25px;
}

.sidepanel .sidepanel_body
{
	border: 1px solid #111;
	border-right: none;
	border-top: none;
	padding: 10px 0 0 10px;
	background: url(/content/images/sidepanel_bg.gif) no-repeat top left; 
}

.sidepanel .sidepanel_body ul li
{
	margin-left: 10px;
}

.roundbottom 
{
	background: url(/content/images/br.gif) no-repeat top right; 
}

img.corner 
{
   width: 5px;
   height: 5px;
   border: none;
   display: block !important;
   margin-top: -5px;
}



#footer 
{
	color: #fff !important;
	padding-top: 10px;
	border: none;
	background-image:url(/content/images/footer_background.gif);
	background-position: top;
	margin-bottom: 80px;
	background-color: #162433;
}
#footer a
{
	color: #fff;
}

#footer ul li
{
	margin-left: 0px;
	list-style: none;
	line-height: 1.7em;
}
#footer p
{
	color: #fff;
	
	line-height: 1.3em;
}
#footer .grid_16
{
	margin-top: 20px;
}
